@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  /* background-color: black; */
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar-brand {
  font-size: 28px;
  font-weight: 600;
}

/* Banner */
.jumbotron {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  height: 540px;
}

.jumbotron img {
  margin-top: 18px;
  /* display: none; */
}

.jumbotron .display-4 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  margin-top: 150px;
  font-weight: 500;
}

.jumbotron .lead {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

.profil {
  border-radius: 6px;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  height: 90px;
  background-color: black;
  color: white;
}

footer p {
  line-height: 90px;
}
